@import url('https://fonts.googleapis.com/css?family=Lato:300');

body{
  font-family: 'Lato', sans-serif;
  background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(255,168,0,.5));
}
#about{
  height: 100vh;
}
#nav{
  text-align: right;
}
#projects{
  height:100vh;
}
#contact{
  height: 100vh;
}
a:-webkit-any-link {
    color: black;
}
.row{
  margin-left: 0px;
  display: flex;
  align-items: center;
}
#projectRow{
  margin-top: 0px;
  padding-top: 0px;
}
